@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
}

.container {
  @apply mx-auto my-8 shadow-xl;
  @apply flex justify-center;
  background-color: hsl(212, 45%, 89%);
}

.card {
  @apply w-[375px] md:w-[320px] max-w-full;
  @apply my-16 mx-4 p-4;
  @apply shadow-xl rounded-3xl;
  @apply flex flex-col gap-4;
  @apply text-center;
  background-color: hsl(0, 0%, 100%);

  > img {
    @apply rounded-xl;
  }

  > h3 {
    @apply text-2xl font-bold;
  }

  > p {
    @apply text-gray-400;
    @apply mb-4;
  }
}
